:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}
main {
  padding-top: 1rem !important;
}
main .container {
  position: relative;
}
.alert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.alert h4 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 20%;
  padding: 1rem;
  background-color: var(--success);
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.815);
}
.residences-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.residence {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1rem 0;
  border-bottom: 1px solid #80808073;
}
.residence-title {
  width: 12rem;
  padding-left: 4rem;
  font-size: 1.75rem;
  color: var(--dark);
}
.residence-slider {
  width: 100%;
}
.residence-slide {
  display: block;
  width: 316px;
  height: auto;
  text-decoration: none;
}
.residence-top {
  border-radius: 15px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.46271008403361347) 4%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.241421568627451) 100%
  );
  position: relative;
  width: 100%;
  height: 209px;
  margin-bottom: 10px;
}
.residence-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
}
.residece_img {
  width: 316px;
  height: 209px;
  border-radius: 15px;
}
.residence-details-option {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 8px;
  z-index: 2;
  top: 8px;
  color: rgb(37, 42, 49);
}
.residence_option_premium {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  min-height: 21px;
  min-width: 44px;
  line-height: 14px;
  font-size: 11px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 0px 8px;
}
.residence_option_quickly {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 21px;
  min-width: 44px;
  line-height: 14px;
  font-size: 11px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  background-color: rgb(240, 200, 7);
  border-radius: 12px;
  padding: 0px 8px;
}
.residence-details-price {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 8px;
  right: 0px;
  color: white;
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 8px 0px 0px 8px;
  font-size: 14px;
  overflow: hidden;
  padding: 6px 12px 6px 8px;
}
.residence_price-offer {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  font-size: 90%;
  opacity: 0.75;
}
.residence_price-offer::before {
  top: 50%;
  background: rgb(255, 255, 255);
  opacity: 0.7;
  content: '';
  width: 110%;
  position: absolute;
  height: 0.1em;
  border-radius: 0.1em;
  left: 0px;
  white-space: nowrap;
  display: block;
  transform: rotate(-15deg);
}
.residence_price-percent {
  margin-bottom: 4px;
  margin-right: 0.5rem;
  min-height: 0px;
  height: 18px;
  line-height: 1;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  min-height: 18px;
  min-width: 20.563px;
  line-height: 14px;
  font-size: 12px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  background-color: rgb(204, 0, 1);
  border-radius: 12px;
  padding: 0px 8px;
  padding-top: 2px;
}
.residence_price > div {
  font-size: 14px;
}
.residence_price small {
  font-size: 70%;
  margin-left: 4px;
}
.residence-slide-title {
  font-size: 14px;
  font-weight: 700;
  font-variation-settings: 'wght' 600;
  color: var(--dark);
  line-height: 20px;
  text-align: right;
  margin-bottom: 8px;
}
.residence-slide-context {
  font-size: 12px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  place-content: center flex-start;
  -webkit-box-align: center;
  align-items: center;
  text-align: right;
  margin-bottom: 0px;
  color: var(--dark);
  opacity: 0.8;
}
.residence-slide-context > .info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  flex: 0 1 auto;
  margin-left: 8px;
}

/* ///////////////////// */

.add-residence {
  display: flex;
  flex-direction: column;
  width: 316px;
  height: 15rem;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--dark-var-3-color);
}
.add-residence > h3 {
  margin: 2rem 0 0 0;
  text-align: center;
}
.add-residence-form {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}
.add-residence-form .add-residence-form-right {
  display: flex;
  /* width: 10rem; */
  gap: 1.4rem;
  flex-direction: column;
}
.add-residence-form .add-residence-form-right label {
  font-size: 16px;
  color: var(--dark);
}
.add-residence-form .add-residence-form-right > div {
  gap: 0.75rem;
  display: flex;
  width: 33rem;
  justify-content: space-between;
  align-items: center;
}
.discount-wrapper {
  gap: 0.75rem;
  display: flex;
  width: 30rem;
  margin-right: -12px;
  justify-content: space-between;
  align-items: center;
}
.discount-label {
  font-size: 16px;
  color: var(--dark);
}
.discount-input {
  width: 26.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #dfeaf2;
  background: var(--light);
  color: var(--dark-grey);
  outline: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 1rem;
}
.add_form-residence-space-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.add-residence-form .add-residence-form-right input,
#city {
  width: 26.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #dfeaf2;
  outline: none;
  background: var(--light);
  color: var(--dark-grey);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 1rem;
}

input#city {
  margin-right: 11px;
}
.add-residence-form .add-residence-form-right input::placeholder,
#city::placeholder {
  font-size: 0.8rem;
}
.textArea {
  resize: vertical;
  min-height: 5rem;
  border-radius: 0.9375rem;
  outline: none;
  background: var(--light);
  color: var(--dark-grey);
  font-size: 1rem;
  padding: 0.5rem;
}
#file {
  background: none;
  display: flex;
  align-items: center;
  height: auto;
}
.add-residence-btn {
  width: 8.125rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}
.add-residence-form-left {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 2rem;
  padding-right: 5rem;
}
.add-residence-form-left > h3 {
  color: var(--dark);
}
select {
  font-size: 16px;
  padding: 8px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
input[type='submit'] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
input[type='submit']:hover {
  background-color: #45a049;
}
.residence-address {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.residence-address label {
  color: var(--dark);
}
.user-filter-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin-top: 0.75rem;
  /* border-top: 1px solid rgba(128, 128, 128, 0.5); */
}
.user-filter-section > div {
  display: flex;
  align-items: center;
}
.user-filter-section-title {
  color: var(--dark-grey);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  display: inline-block;
}
.add-user-btn {
  display: inline-flex;
  padding: 0.4375rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background: #233eae;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  border: none;
  color: var(--Light-White, #fff);
  font-size: 1rem;
  margin-right: 3rem;
}
.search-form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

.search-form .form-input {
  display: flex;
  align-items: center;
  height: 38px;
}

.search-form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 0 36px 36px 0;
  outline: none;
  width: 100%;
  color: var(--dark);
  border: 1px solid rgba(128, 128, 128, 0.505);
  border-left: none;
}

.search-form .form-input button {
  width: 62px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #233eae;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 36px 0 0 36px;
  cursor: pointer;
}
.userList {
  margin-top: 1rem;
  overflow: auto;
  scrollbar-width: 0;
}
.userList::-webkit-scrollbar {
  display: none;
}
.table {
  min-width: 560px;
}
.userList table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
.userList thead {
  vertical-align: bottom;
}
.userList tbody {
  border-top: 2px solid currentColor;
}
.userList th,
.userList td {
  border-bottom: 1px solid #d9d9d9;
  padding: 8px 10px;
  text-align: right;
  color: var(--dark);
}
.id-width-table {
  width: 3.77341%;
}
.img-width-table {
  width: 7.4132%;
}
.img-width-table > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.name-width-table {
  width: 19.7705%;
}
.number-width-table {
  width: 16.99%;
}
.login-width-table {
  width: 16.035%;
}
.order-width-table {
  width: 10.035%;
}

/* options */
.options {
  width: 26rem;
  display: flex;
  flex-direction: column;
}
.options-row {
  display: flex;
  width: 100%;
  justify-content: right;
}
.options-row div {
  display: flex;
  width: inherit;
  max-width: 8.7rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;
}
.add-residence-form-right > div .options input {
  height: 1rem !important;
  width: 1rem !important;
  margin: 1rem !important;
}
.options span {
  color: var(--dark-grey) !important;
  width: max-content;
}

/* for test */
.residence-slide {
  position: relative;
}
.removeSlide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffffd0;
  z-index: 99;
  color: black;
  font-weight: 700;
  font-size: larger;
  transition: all 0.3s;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
}
.removeSlide.active {
  opacity: 1;
  visibility: visible;
}

/* users temp */
.id-width-table {
  position: relative;
}
.userRemoveBtn {
  position: absolute;
  width: 36px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  opacity: 0;
  transition: all 0.3s;
}
.userRemoveBtn::before {
  content: 'x';
  position: absolute;
  color: white;
  width: max-content;
  font-size: 20px;
  margin: 15px 11px 0px 0px;
}
.userRemoveBtn.active {
  opacity: 1;
}

/* add user page */
.add-user-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 1.5rem;
  margin-top: 2rem;
}
.add-user-wrapper-right {
  flex: 1;
}
.add-user-wrapper-left {
  flex: 1;
}
.add-user-wrapper-right > div,
.add-user-wrapper-left > div {
  margin-bottom: 1rem;
}
.add-user-wrapper-right label,
.add-user-wrapper-left label {
  max-width: 28rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-user-wrapper-right label > span,
.add-user-wrapper-left label > span {
  font-size: 16px;
  color: var(--dark);
}
.add-user-wrapper-right label > input,
.add-user-wrapper-left label > input {
  width: 19rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #dfeaf2;
  background: var(--light);
  color: var(--dark-grey);
  outline: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 1rem;
}
.add-user-wrapper-right label > input::placeholder,
.add-user-wrapper-left label > input::placeholder {
  font-size: 0.8rem;
}
.textAreaUser {
  min-height: 9rem;
}
.submitUser {
  display: inline-flex;
  padding: 0.6rem 21%;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1rem;
  background: #233eae;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  border: none;
  color: var(--Light-White, #fff);
  font-size: 1rem;
  margin-right: 25%;
  margin-top: 2rem;
}

/* responsive */
/* Hide scrollbar for Chrome, Safari and Opera */
.orders::-webkit-scrollbar,
.reminders::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.orders,
.reminders {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Extra large screens, TV – 1201px, and more */
@media only screen and (min-width: 1201px) {
}

/* Desktops, large screens – 1025px — 1200px */
@media only screen and (max-width: 1200px) {
  .add-residence-form > div > div {
    width: auto !important;
  }
  .add-residence-form-right > div input,
  #city,
  #discount {
    width: 20rem !important;
  }
  .add-residence-form-right > div textarea {
    width: 20rem;
  }
  .add-residence-form-left {
    padding-right: 1rem;
  }
}

/* Small screens, laptops – 769px — 1024px */
@media only screen and (max-width: 1024px) {
  .add-user-wrapper-right label > input,
  .add-user-wrapper-left label > input {
    width: 70%;
  }
  .add-user-wrapper-left label > textarea {
    width: 80%;
  }
}

/* iPads, Tablets – 481px — 768px */
@media only screen and (max-width: 768px) {
  .content main .bottom-data .orders table td > span {
    display: block;
    min-width: max-content;
  }
  .content main .bottom-data .orders table td {
    min-width: max-content;
  }
  .add-residence-form {
    flex-direction: column;
  }
  .add-residence-form-right > div input,
  #city,
  #discount,
  .textArea {
    width: 80% !important;
  }
  .add-residence-form-right > div label {
    width: min-content;
  }
  .add_form-residence-space-wrapper {
    width: 80%;
  }
  .add-residence-form div .add_form-residence-space-wrapper input {
    width: 100% !important;
  }
  .add-residence-form-right {
    margin-bottom: 2rem;
  }
  .add-residence-form-left div > #city,
  .add-residence-form .add-residence-form-left .discount-wrapper {
    width: fit-content !important;
  }
}

@media only screen and (max-width: 640px) {
  .residence {
    flex-direction: column;
  }
  .residence-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0;
  }
  .residence-slide {
    width: 100%;
  }
  .residece_img {
    width: 100%;
  }
  .add-residence {
    width: 100%;
  }
  .user-filter-section .search-form {
    display: none;
  }
  .user-filter-section > div:first-child {
    width: 100%;
    justify-content: space-between;
  }
  .add-user-wrapper {
    flex-direction: column;
  }
}

/* Mobile devices – 320px — 480px */
@media only screen and (max-width: 480px) {
  .options-row {
    flex-wrap: wrap;
    margin-right: 7%;
  }
  .options-row div {
    width: 100%;
  }
}
